.hero
  position: relative
  padding-top: 140px
  padding-bottom: 140px
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    z-index: -1
    width: 60%
    height: 642px
    background-color: rgba(#ececec, .3)
  &-wrap
    max-width: 73%
    margin-left: auto
  &-title
    margin: 0
    font-size: 39px
    +bold
  &__button
    display: none
@media (max-width: 1199.98px)
  .hero
    padding-top: 90px
    padding-bottom: 90px
    &-title
      font-size: 35px
@media (max-width: 991.98px)
  .hero
    &::before
      width: 70%
@media (max-width: 767.98px)
  .hero
    &-wrap
      flex-direction: column
      margin-left: 0
    &__button
      display: block
    &__title
      margin-bottom: 44px
@media (max-width: 575.98px)
  .hero
    &::before
      width: 80%
    &-title
      font-size: 25px
